/* FIELD : Wrapper */
.field {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 1rem;
}

.field:has(.field__input[required]) .field__label::after {
	content: "*";
	margin-left: 0.2em;
	color: tomato;
}

/* FIELD : Label */
.field__label {
	width: 100%;
	margin-bottom: 8px;
}

/* FIELD : Input */
.field__input {
	display: block;
	width: 100%;
	padding: 0.5rem 1rem;
	border-bottom: 1px solid rgba(var(--primary-700), 0.5);
	background-color: rgba(var(--primary-700), 0.05);

	/* States */
	&:focus {
		background-color: rgba(var(--primary-700), 0.1);
	}
}
