*,
*::before,
*::after {
	box-sizing: border-box;
}

/* GLOBAL */
input,
textarea {
	appearance: none;
	border: none;
	background: none;
	outline: none;
}

main {
	height: 100vh;
}

#hero {
	display: flex;
	padding-top: 84px;
	height: 95%;
	background: linear-gradient(
			135deg,
			rgba(var(--primary-950), 0.9) 50%,
			rgba(var(--primary-950), 0.45)
		),
		url("./hero/particular.jpg");
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: top;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
}
#hero .left h1 {
	margin: 0;
	line-height: 1.25em;
	font-size: 4rem;
}

#hero .left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-basis: 50%;
	font-size: 1.5rem;
}

#hero p {
	line-height: 1.5em;
	margin-bottom: 4rem;
}

.btn__group {
	width: 100%;
	display: flex;
	gap: 2rem;
}

.btn {
	font-size: 1rem;
	padding: 1em 2em;
	border-width: 1px;
	border-style: solid;
}

.btn--primary {
	color: #fff;
	background-color: rgba(var(--primary-700), 1);
	border-color: rgba(var(--primary-700), 1);
}

.btn--secondary {
	color: #fff;
	background-color: transparent;
	border-color: #fff;
}

#hero .right {
	flex-basis: 50%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	/* border: 1px solid black; */
}

#hero form h2 {
	font-size: 2rem;
	margin-top: 0;
	margin-bottom: 2rem;
	text-align: center;
}

#hero form {
	position: relative;
	box-shadow: 0 0 3px 3px rgba(var(--primary-950), 0.1);
	display: flex;
	flex-direction: column;
	width: 75%;

	color: rgba(var(--primary-950), 1);
	background-color: #fff;

	padding: 2.5rem;
	border-radius: 8px;
}

form input[type="submit"] {
	appearance: none;
	border: none;
	background-color: rgba(var(--primary-950), 1);
	color: #fff;
	padding: 1rem;
}
